@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    --main-bg-color:hsl(0, 0%, 98%); 
    --text-medium-gray:hsl(0, 0%, 41%);
    --text-almost-black:hsl(0, 0%, 8%);
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Epilogue', sans-serif;
  }
  
  img, svg {
    display: block;
    max-width: 100%;
  }

//   helper class starting point
  .flex {
    display: flex;
  }
  .vh-center {
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .center-horizontal {margin-inline: auto;}
  .center-vertical {display:flex;align-items: center;}
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    color: var(--text-medium-gray);
  }

  .absolute {
    position: absolute;
  }

  .relative {position: relative;}
  .radius {
    border-radius: 0.8rem;
  }
  #main-navigation .display-none {display:none;}
  #main-navigation .display-block {display: block;}
//   helper classes end point

// global styles starting point
a {text-decoration: none;color: hsl(0, 0%, 41%);}
a:hover {color:hsl(0, 0%, 8%);}
button:hover { color:hsl(0, 0%, 8%);}
li {list-style-type: none;}

// global styles end point
  body {
    max-inline-size: 1420px;
    background-color:var(--main-bg-color);;
  }


  .header {
    inline-size: 100%;
    margin-block: 1rem;
    align-items: center;
    padding-inline: 2rem;
    z-index: 1;
  }

  .site-logo {
    block-size: fit-content;
    min-inline-size: 6rem;
    padding: 0.3rem;
    cursor: pointer;
  }

  .navigation {
    margin-inline-start: 5rem;
    inline-size: 100%;
  }

  .nav-toggle {
    right: 0;
    display: none;

    button {
      border: none;
      background-color: transparent;
    }
  }

  .navbar {
    background-color: var(--main-bg-color);
  }

  .nav-link {
    block-size: fit-content;
    margin-block-start: 0.55rem;
  }

  .feature button, .company button {
    font-weight: 500;
    font-size: 0.9rem;
    border: none;
    padding-block: 0.32rem;
    background-color: transparent;
    
  }

  .decorative-icon {
    margin-inline-end: 0.9rem;
    margin-block-start: 0.3rem;
    block-size: 100%;
  }
  .company {left: 7.5rem;}
  
  .dropdown-arrow {
    margin-inline-start: 0.4rem;
  }

  .transform-x {
    transform: translateX(-3.9rem);
  }

  .sub-menu {
    padding: 1rem;
    display: none;
    box-shadow: 0px 0px 61px -19px rgba(0,0,0,0.75);
    background-color: var(--main-bg-color);
    margin-block-start: 1.5rem;
    a:hover {
      color: var(--text-almost-black);
    }
  }

  /*
  .feature:hover .sub-menu {
    display: block;
  } */
 

  .feature:hover .dropdown-arrow, .company:hover .dropdown-arrow {
    transform: rotate(180deg);
    transition: 0.5s ease-out;
  }

  /*
  .company:hover .sub-menu {
    display: block;
  }
  */
  .sub-menu-link {
    margin-block-end: 0.3rem;
  }

  .career {margin-inline-start: 15rem;}
  .about {margin-inline-start: 2.5rem;}



  .login-and-register {
    margin-inline-start: auto;
  }

  .register {
    margin-inline-start: 2rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    border: 2px solid hsl(0, 0%, 41%);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
  }
  .register:hover {
    border: 2px solid hsl(0, 0%, 8%);
    color: var(--text-almost-black);
  }
  .register:hover a {
    color:var(--text-almost-black);
  }
  .login:hover a {color: var(--text-almost-black);}


.navbar.responsive { 
  transform: translateX(0%);
}

/*==================min-inline-size: 27rem;=========================== */

.main {
  margin-inline-start: 7rem;
  margin-inline-end: 5rem;
  margin-block-start: 4rem;
}

.description {
  margin-block-end: 2.5rem;
  max-inline-size: 25rem;
  color: var(--text-medium-gray);
}

.heading {
  font-size: 5rem;
  line-height: 1;
  margin-block-end: 3rem;
  color: var(--text-almost-black);
}

.new-line {
  line-height: 1;
}
.right-section-hero {
  margin-inline-start: auto;
}

.sponsers {
  justify-content: space-between;
  flex-wrap:wrap;
  inline-size: 100%;
  bottom: 0;
}
.sponser-img {
  block-size: 1.3rem;
}

.call-to-action-btn-div {
  margin-block-end: 2rem;
}
.call-to-action-btn {
  padding-block:0.9rem;
  padding-inline: 1.4rem;
  font-weight: 700;
  font-size:1rem;
  border: 1px solid var(--text-almost-black);
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--text-almost-black);
}

.call-to-action-btn:hover {
  background-color: var(--main-bg-color);
  color: var(--text-almost-black);
  transition: background-color 0.250s ease-in-out;
}

.right-section-hero {
  max-inline-size: 27rem;
  min-inline-size: 22rem;
}


/* ===============================================*/
@media screen and (max-width: 1000px) {
  .main {
    margin-inline: 2rem; 
  }
  
  .right-section-hero {
    max-inline-size: 20rem;
  }

  .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .backgroundShadow {
    background-color: hsl(0 0% 8% / 0.7 );
  }
  .navshadow {
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .header {
    position: static;
  }
 
  .navbar {
    position: fixed;
    z-index: 2;
    right: 0; top: 0; bottom:0;
    flex-direction: column;
    inline-size: 15.5rem;
    transform: translateX(100%);
    transition: transform 0.300s ease-in-out;
  }

  .sub-menu {
    transform: translateX(0);
    inline-size: 65%;
    margin-block-start: 0;
    margin-inline-start: 1.5rem;
    box-shadow: none;
  }

  .sub-menu-link {
    margin-block-end: 1rem;
  }

  .nav-link {
    position: static;
    margin-inline-start: 1rem;
    margin-block-end: 0.5rem;
  }

  .feature {
    margin-block-start: 6rem;
  }

  

  .nav-toggle {
    display: block;
    z-index: 3;
    top: 1.5rem;
    right: 1rem;
    position: fixed;
  }

  .login-and-register {
    flex-direction: column;
    margin-inline-start: 0;
    margin-block-start: 2rem;
    padding-inline: 1.5rem;
  }

  .login {
    text-align: center;
  }
  .register {
    inline-size: 100%;
    margin-block-start: 1.5rem;
    margin-inline: 0;
  }
}

@media screen and (max-width: 800px) {
  .right-section-hero {
     min-inline-size: 13rem;
     inline-size: 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .left-section {
    inline-size: 100%;
  }
}

@media screen and (max-width: 728px) { 
  .main {
    display: flex;
    inline-size: fit-content;
    margin-inline: auto;
    flex-direction: column;
  }

  .left-section {
    order: 2;
    margin-block-start: 2rem;
    text-align: center;
  }

  .heading {
    margin-block-end: 1rem;
  }

  .heading > span {
    display: initial;
  }

  .description {
    margin-block-end: 1rem;
  }
  .call-to-action-btn-div {
    margin-block-end: 4rem;
  }

  .right-section-hero {
    margin-inline: auto;
  }

  header {
    margin-block-end: 0px;
  }

  .main {
    margin-block-start: 0px;
  }
}

